mat-card {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-form-field, textarea {
  width: 300px;
}

#timer{
    margin: 10px;
    padding: 10px;
}

#resend {
  margin: 10px;
  padding: 10px;
}


@media (max-width: 800px) {
  #resend {
    margin: 10px auto;
    padding: 10px;
    object-position: center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center
  }

  mat-form-field, textarea {
    width: 200px;
  }
}
