<mat-card>
  <mat-spinner mode="indeterminate" *ngIf="isLoading" fxLayoutAlign="center center"></mat-spinner>
  <form (submit)="onValidateOtp(otpForm)" #otpForm="ngForm" *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="center center">

    <mat-form-field>
      <input matInput type="text" placeholder="1234" name="otp" ngModel #otpInput="ngModel" required />
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Submit</button>

    <mat-spinner mode="indeterminate" *ngIf="isLoading" fxLayoutAlign="center center"></mat-spinner>
  </form>

  <!--<button (click)='startTimer()'>Start Timer</button>
  <button (click)='pauseTimer()'>Pause</button>-->

  <div *ngIf="!timerUp" fxLayoutAlign="center center" id="timer"><h2>{{timeLeft}} Seconds</h2></div>

  <div id="resend"><button mat-raised-button color="accent" type="button" *ngIf="!isLoading && timerUp" (click)="onResendOtp()">Resend OTP</button></div>
  
</mat-card>


