<mat-card>
  <mat-spinner mode="indeterminate" *ngIf="isLoading" fxLayoutAlign="center center"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="center center">

    <mat-form-field appearance="fill">
      <mat-label>Mode</mat-label>
      <mat-select placeholder="Mode" ngModel name="domain">
        <mat-option value=0>
          Instructor
        </mat-option>
        <mat-option value="1">
          Student
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="E-Mail" name="email" ngModel #emailInput="ngModel" required email />
      <mat-error *ngIf="emailInput.invalid">Please Enter a Valid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required />
      <mat-error *ngIf="passwordInput.invalid">Please Enter a Valid Password</mat-error>
    </mat-form-field>
    <p>
      Not a user yet <a routerLink="/auth/signup">Register!</a>
    </p>
    <p>
     <a routerLink="/auth/forgot-password">Forgot Password</a>
    </p>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
    <mat-spinner mode="indeterminate" *ngIf="isLoading" fxLayoutAlign="center center"></mat-spinner>
  </form>
</mat-card>
