<div fxLayout="column" fxLayoutAlign="center left">
  <mat-nav-list *ngIf="!isAuth">
    <a mat-list-item routerLink="/auth/login"><mat-icon>person</mat-icon><span class="nav-caption">Login</span></a>
  </mat-nav-list>
  <mat-nav-list *ngIf="!isAuth">
    <a mat-list-item routerLink="/auth/signup"><mat-icon>account_circle</mat-icon><span class="nav-caption">Signup</span></a>
  </mat-nav-list>
  <mat-nav-list *ngIf="isAuth && domain===0">
    <a mat-list-item routerLink="/courses/course-create"><mat-icon>add_task</mat-icon><span class="nav-caption">Create Courses</span></a>
  </mat-nav-list>
  <mat-nav-list *ngIf="isAuth && domain===1">
    <a mat-list-item routerLink="/products"><mat-icon>shopping_cart</mat-icon><span class="nav-caption">Buy Courses</span></a>
  </mat-nav-list>
  <mat-nav-list *ngIf="isAuth">
    <a mat-list-item routerLink="/courses/courses"><mat-icon>receipt</mat-icon><span class="nav-caption">My Courses</span></a>
  </mat-nav-list>
  <mat-nav-list *ngIf="isAuth">
    <a mat-list-item routerLink="/main/profile"><mat-icon>face</mat-icon><span class="nav-caption">My Profile</span></a>
  </mat-nav-list>
  <mat-nav-list *ngIf="isAuth">
    <button mat-list-item (click)="onLogout()"><mat-icon>eject</mat-icon><span class="nav-caption">Logout</span></button>
  </mat-nav-list>
</div>

