<mat-card>
  <mat-spinner mode="indeterminate" *ngIf="isLoading" fxLayoutAlign="center center"></mat-spinner>
  <form (submit)="onChangePassword(changePasswordForm)" #changePasswordForm="ngForm" *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="center center">

    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" required />
      <mat-error *ngIf="passwordInput.invalid">Please Enter a Valid Password</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Update Password</button>
    <mat-spinner mode="indeterminate" *ngIf="isLoading" fxLayoutAlign="center center"></mat-spinner>
  </form>
</mat-card>

